*/logs
*/.idea/modules/logs
*/project/project
*/project/target
*/target
*/tmp
*/.history
*/dist
*/out
*/.idea_modules
*/.classpath
*/.project
*/RUNNING_PID
*/.settings
*/*.iws
*/config.properties
*/conf/config.properties
*/library.xml