@(title: String)(content: Html)

<!DOCTYPE html>

<html ng-app="simmapeditorApp">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/menuStyle.css")">
        <link rel="shortcut icon" type="image/ico" href="@routes.Assets.at("images/favicon.ico")">
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery-1.12.1.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/d3.v3.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/leaflet.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/angular.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/angular-route.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/bootstrap.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jasny-bootstrap.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/L.Control.Zoomslider.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/TileLayer.GeoJSON.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/easy-button.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/leaflet.ajax.js")"></script>

        <script type="text/javascript" src="@routes.Assets.at("javascripts/storageHandler.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/changesetHandler.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/app.js")"></script>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/leaflet.css")"/>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"/>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/jasny-bootstrap.min.css")"/>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/L.Control.Zoomslider.css")"/>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/easy-button.css")"/>
    </head>
    <body>
        @content
    </body>
</html>
